*{
    font-size: 12px;
    margin: 0;
    padding: 0;
}

.topList{
    width: 300px;
    height: 180px;
    border: 1px solid #E8E8E8;
    margin: 0 auto;
}

.topList ul{
    margin: 5px;
}

.topList li{
    line-height: 16px;
    list-style-type: none;
    overflow: hidden;
    margin-bottom: 10px;
}

.topList a:link, .topList a:visited{
    text-decoration: none;
    color: #000;
}

.topList a:hover, .topList a:active{
    text-decoration: none;
    color: #D91C00;
}

em{
    height: 16px;
    width: 20px;
    display: block;
    float: left;
    text-align: center;
    color: #333;
    font-style: normal;
    background: url("http://img.mukewang.com/53cf0fa20001d3dc00200032.jpg") no-repeat 0 100%;
}

.top em{
    background: url("http://img.mukewang.com/53cf0fa20001d3dc00200032.jpg") no-repeat 0 0;
}
