@import "1/bootstrap.css";

*{
    padding: 0;
    margin: 0 auto;
}

ul, li{
    list-style-type: none;
}

.page-header li{
    margin-left: 20px;
}

.text-area li{
    margin-left: 10px;
}

.columns li {
    display: inline;
}
